numpy
torch
pyyaml
opencv-python
tqdm
openai-whisper
googletrans==4.0.0rc1
openvino
ultralytics
PySide6
beautifulsoup4
yt-dlp
requests
pillow
scipy
scikit-learn
matplotlib
pandas
moviepy
imageio
imageio-ffmpeg
av
tiktoken
regex
more-itertools
numba
lap
tabulate
fvcore
pytorchvideo
iopath
protobuf
onnx
ffmpeg-python
selenium
trio
trio-websocket
webdriver-manager